# Pass for email sending
MCK_EMAIL_PASS='abscdjrltnnat' # This is provided by email services

# Configurations for the dashboard
CHURCH_DB_HOST=host
CHURCH_DB_PORT=5432
CHURCH_DB_NAME=church_database
CHURCH_DB_USER=user
CHURCH_DB_PASS=user
CARTO_KEY=cgr_ahfnt_kakdhe98shn # This is provided at https://carto.com/basemaps/apikey/

# Configurations for nocodb set up
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=church_database